<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email Verification</title>
</head>
<body>
    <center>
        {% if expired%}
           <h4>You email link has been expired. Please request another link from you edit profile section. </h4>
        {% endif %}
        {% if verified %}
            <h4>Congratulations !! your email has been verified successfully.  </h4>
        {% endif %}
        {% if invalid %}
            <h4>Invalid Token</h4>
        {% endif %}
    </center>
</body>
</html>