<table class="es-footer" cellspacing="0" cellpadding="0" align="center">
    <tbody>
        <tr>
            <td class="esd-stripe" align="center">
                <table class="es-footer-body" width="600" cellspacing="0" cellpadding="0" align="center">
                    <tbody>
                        <tr>
                            <td class="esd-structure es-p20t es-p20b es-p20r es-p20l" align="left">
                                <table width="100%" cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr>
                                            <td class="esd-container-frame" width="560" valign="top" align="center">
                                                <table width="100%" cellspacing="0" cellpadding="0">
                                                    <tbody>
                                                        <tr>
                                                            <td class="esd-block-text es-p10t es-p10b" align="center">
                                                                <p>Made by Bhumiya&nbsp;Technologies Pvt. Ltd</p>
                                                                <p><a target="_blank" href="https://www.mypiggywallet.com/blog">Our Blog</a>&nbsp; • <a target="_blank" href="https://www.mypiggywallet.com/privacy-policy">Policies</a></p>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>